*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(7, 236, 141);
}
.main{
width: 80%;
background-color:rgb(60, 198, 140); 
display: flex;
align-items: center;
justify-content: center;
}