@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   /* color: white; */
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-in{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}
.form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    padding: 3rem;
    margin-bottom: 1rem;
}
button{
    width: 10rem;
    padding: 0.5rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
}
.head{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    /* background-color:red; */
    margin-top: 2rem;
}
.head img{
        mix-blend-mode: multiply;
}
.head h1{
    margin-left: 2.5rem;
    margin-bottom: 1rem;
}
.name{
    /* height: 2rem; */
    width: 20rem;
    margin: 0.5rem;
}
.names{
    margin: 0.5rem;
}
.Gender{
    margin: 0.5rem;
}
#female{
    margin: 0.5rem;
}
.form input{
    border-radius: 5px;
    /* width: 30%; */
    padding: 0.5rem;
}
