:root{
    --color1:#143601;
    --color2:#ffffff;
    --color3:#538D22;
    --color4:#73A942;
    --color5:#1A4301;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}
nav{
    padding: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nav-in{
    background-color: #132a13;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-in h1{
    color: green;
    font-size: 1.2rem;
    font-weight: 600;
}
.nav-in-one{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-in-two{
    width: 70%;
}
.nav-in-two-in{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-in-three{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-in-three-in{
    border-radius: 10px;
    background-color: green;
    padding: 0.3rem;
}
nav a{
    text-decoration: none;
     color: white;
    font-size: 1rem;
    font-weight: 400;
}
/* Hero Starts here */
/* .slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 94.4vh;
}

.slider img {
    width: 100%;
    display: none;
}

img.displaySlide {
    display: block;
}

.text{
    position: absolute;
    top:80%;
    left: 5%;
    font-size: 1.5rem;
    font-weight: 200;
    width: 33%;
    color: white;
    backdrop-filter: blur(3px);
    padding: 1rem;
} */
/* HeroSection-two starts here */
.HeroSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    /* padding: 1rem; */
}
.HeroSection-in{
    width: 100%;
}
.Image{
    position: relative;
    width: 100%;
    /* background: url(./Assets/Plantation_Unupdated.jpeg) no-repeat; */
    background-size: cover;
    /* background-color: red; */
}
.Image img{
    /* object-fit: contain; */
    width: 100%;
    height: 97vh;
}
/* .image-box-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} */
/* .image-box-in{
    display: none;
} */
.text{
    position: absolute;
    top: 35%;
    left: 32%;
    /* transform: translate(-50%,-50%); */
    width: 50%;
    /* color:#132a13; */
    color: white;
    /* backdrop-filter: blur(3px); */
}
.text h1{
    /* background-color: red; */
    font-size: 2rem;
    font-weight: 400;
    /* background-color: red; */
    /* margin-right: 16rem; */
}
.home-box{
    /* background-color: red; */
    position: absolute;
    top: 48%;
    left: 38%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.home-box p{
    font-size: 1.5rem;
    font-weight: 600;

}
.counter{
    font-size: 4rem;
    font-weight: 600;
}
/* Panchatantra Starts here */
.Panchatantra{
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    /* background-image: url(../app/Assets/WhyBlogImage-1.jpeg); */
    /* background: var(--color1); */
    /* backdrop-filter: blur(3px; */
}
.Panchatantra-in{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.Panchatantra-in-one{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.Panchatantra-in-one h1{
    font-size: 1.5rem;
    font-weight: 800;
    color: #132a13;
}
.Panchatantra-in-one p{
    font-size: 1.2rem;
    font-weight: 300;
    /* width: 70%; */
    text-align: center;
    /* text-align: center; */
}
.Panchatantra-in-two{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.Panchatantra-in-two img{
    mix-blend-mode: multiply;
}
.Panchatantra-in-two p{
    font-size: 1.2rem;
    font-weight: 300;
    color: #132a13;
}
/* Timeline Starts here */
.timeline{
    width: 100%;
    padding: 1rem;
    position: relative;
    margin: 4rem auto;
}
.timeline-heading h1{
    font-size: 2rem;
    font-weight: 600;
    color: black;
    text-align: center;
}
.timeline-in{
    padding: 2rem 1.5rem;
    position: relative;
    width: 50%;
    animation:movedown 1s linear forwards ;
    opacity:0;
    
}
@keyframes movedown{
    0%{
       opacity:1%;
       transform: translate(-30px);

    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}
.text-box{
    padding: 1rem;
    /* background: #fff; */
    position: relative;
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: 200;
    /* background-color: red; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-bottom: 3.5px solid #132a13;
}
.text-box h2{
    font-size: 1.5rem;
    font-weight: 400;
}
.text-box p{
    font-size: 0.9rem;
    font-weight: 200;
}
.text-box button{
    width: 20%;
    padding: 0.3rem;
    border-radius: 10px;
    background-color: #132a13;
    color: white;
    margin-top: 1rem;
    border: 1px solid black;

}
.left{
   left: 0; 
}
.right{
    left: 50%;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height:0%;
    background:#132a13;
    top:8%;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
    /* padding-top: 1rem; */
    /* background: red; */
}
@keyframes moveline {
    0%{
        height: 0%;
    }
    100%{
        height:100%;
    }
}
.text-box h2{
    font-weight: 600;
}
.left-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top:28px;
    z-index:1 ;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid black;
    right: -15px;
}  
.right-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top:28px;
    z-index:1 ;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid black;
    left: -15px;
}  
.timeline-in:nth-child(1){
    animation-delay: 0s;
}
.timeline-in:nth-child(2){
    animation-delay: 1s;
}
.timeline-in:nth-child(3){
    animation-delay: 2s;
}
.timeline-in:nth-child(4){
    animation-delay: 3s;
}
/* Activites starts here */
.activities{
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 1rem;
}
.activities-in{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.activites-heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.activities-heading h1{
    font-size: 2rem;
    font-weight: 600;
}
.activites-boxes-one{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}
.activites-boxes-two{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.activity-box{
    width: 30%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0.8rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-bottom: 3px solid #132a13;
}
.activity-box p{
    text-align: center;
}
.activity-box img{
    width: 100%;
    height: 35vh;

}
/* Impact report */
.impact{
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.impact-in{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.impact-one{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 0rem 3rem 0rem;
}
.impact-one h1 {
    color: black;
    font-weight: 600;
}
.impact-one p{
    font-size: 1.2rem;
    font-weight: 400;
    width: 70%;
    text-align: center;

}
.impact-two{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(3px);
    gap: 10px;
}
.box{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-bottom: 3px solid #132a13;
    /* background-color: red; */
}
.box p{
    text-align: center;
}
.count{
    padding: 2rem;
    font-size: 2rem;
    font-weight: 400;
}
.box button{
    width: 120%;
    padding: 0.3rem;
    border-radius: 10px;
    color: black;
    margin-top: 1rem;
    background-color: #132a13;
    border: 1px solid black;
    color: white;
}
/* News and updates starts here */
.news-updates{
    width: 100%;
    color: black;
    padding: 2rem;
}
.news-updates-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-one,.news-two,.news-three{
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.img-container{
    width: 100%;
    position: relative;
}
.img-container p{
    padding: 1remp;
}

.news{
    display: flex;
    justify-content: space-around;
}
.news-updates{
    backdrop-filter: blur(3px);
}
.news-updates-in>h1{
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.news-info{
    padding: 1rem;
    font-weight: 600;
    margin-top: -10px;
}

.news-name{
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-weight: 600;
    font-size: 1rem;
    color: var(--color2);
}

.news-date{
    position: absolute;
    top: 2rem;
    left: 1rem;
    font-weight: 600;
    font-size: 1rem;
    color: var(--color2);
}
/* Partnership Page */
.partnership{
    width: 100%;
    color: black;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}
.partnership-in{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.partnership-heading h1{
    font-size: 1.8rem;
    font-weight: 600;
}
.partnership-main{
    width: 100%;
    display: flex;
}
.partnership-one{
    width: 50%;
    padding: 4rem;
}
.partnership-one p{
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
}
.partnership-two{
    width: 50%;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.partnership-two img{
    border-radius: 10%;
    mix-blend-mode: multiply;
}
.images-one img{
    mix-blend-mode: multiply;
}
.join-us{
    color: white;
    backdrop-filter: blur(3px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-size: cover;
}
.join-us-in{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.join-us-in-one{
    color: black;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.join-us-in-one h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.join-us-in-two p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
.join-us-in-two{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.join-us-two-image{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.join-us-in-two-in{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    /* background-color: red; */
}
.join-us-in-two button{
    width: 20%;
    padding: 0.8rem;
    border-radius: 10px;
    background-color: #132a13;
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
}
.join-us-in-two a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}
.join-us-two-buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
/* Footer */
footer{
    width: 100%;
    background-color: #132a13;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer-in{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.footer-in-one h1{
    font-size: 2rem;
    font-weight: 400;
}
.footer-maintain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid green;
    padding: 0.5rem;;
}
.footer-maintain-in{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer-maintain-in h2{ 
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
.footer-maintain-in span{
    color: blue;
}
.footer-in-one{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-in-two{
    width: 30%;
}
.footer-in-two-in{  
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer-in-two-in a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(215, 200, 200)    ;
}
.footer-in-three{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.4rem;
}
.footer-in-three-in{
    width: 100%;
    padding: 1rem;
}
.footer-in-two-in h1{
    font-size: 1.5rem;
    font-weight: 600;
}
.footer-in-two-in p{
    font-size: 1rem;
    font-weight: 400;
}
.footer-in-three-in h1{
    font-size: 1.5rem;
    font-weight: 600;
}
.icons{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
