:root{
    --color1:#143601;
    --color2:#ffffff;
    --color3:#538D22;
    --color4:#73A942;
    --color5:#1A4301;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* body{
    background: scroll;
} */
html {
    scroll-behavior: smooth;
    width: 100%;
}
nav{
    padding: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nav-in{
    background-color: green;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-in h1{
    color: green;
    font-size: 1.2rem;
    font-weight: 600;
}
.nav-in-one{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-in-two{
    width: 50%;
}
.nav-in-two-in{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-in-three{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-in-three-in{
    border-radius: 10px;
    background-color: green;
    padding: 0.3rem;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
}
/* Nav Bar */
.footer{
    /* width: 100%; */
    background-color: var(--color1);
    padding: 10px;
    color: var(--color2);
    display: flex;
    flex-direction: column;
}

.footer-one{
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255,0.5);
    padding: 1rem 2rem;
}

.footer-two{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(255, 255, 255,0.5);
}

.footer-three{
    display: flex;
    padding: 1rem 2rem;
}

.one-one,.one-two,.one-three{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 30%;
}

.link{
    color: var(--color2);
    text-decoration: none;
    font-weight: 500;
}

i{
    font-size: 25px;
    margin: 0 15px;
    color: var(--color2);
}

.footer-two h1{
    margin-right: 100px;
}

.three-logo{
    width: 30%;
    object-fit: cover;
    display: flex;
}
/* Footer Ends here */
/* Hero Starts here */
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider img {
    width: 100%;
    display: none;
    height: 93vh;
    /* object-fit: contain; */
    /* position: absolute; */
}

img.displaySlide {
    display: block;
}

.slides{
    position: relative;
    /* height: 100vh; */
}
.prev {
    left: 0;
}

.next {
    right: 0;
}
.text{
    /* margin-bottom: 2rem;
    display: flex; */
    position: absolute;
    top:50%;
    left: 80%;
    font-size: 2rem;
    color: white;
}
/* Hero Ends here */
/* About Plant starts here */
.About-Plants{
    background-color: #AAD576;
    width: 100%;

}
.About-Plants-in{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}
.About-Phants-in-one{
    width: 50%;
}
.About-Plants-in-two img{
    border-radius: 10%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.About-Phants-in-one button{
    /* border: 10px; */
    width: 8%;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #1A4301;
    color: white;
    margin-top: 1rem;
}
.About-Phants-in-one button a{
    text-decoration: none;
    color: white;
}
/* Events Starts */
.Events{
    width: 100%;
    /* background-color: #73A942; */
    background-color: #378b29;
    background-image: linear-gradient(315deg, #378b29 0%, #74d680 74%);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
.Events-in{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Events-in-two{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Events-in-two-in{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Events-box{
    position: relative;
    width: 30%;
}
.Events-box img{
    width: 100%;
    border-radius: 2%;
}
.event-box-text{
    position: absolute;
    top: 80%;
    width: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: #378b29; */
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
}
.OurAim{
    background-color: #AAD576;
    width: 100%;
}
.OurAim-in{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 2rem; */
    /* margin: 1rem; */
    text-align: center;
}

.OurAim-in-One img{
   width: 110vh;
   height: 70vh;
}

.stats-in{
    background-color: var(--color3);
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

.stats-one,.stats-two,.stats-three,.stats-four{
        color: var(--color2);
        background-color: var(--color1);
        text-wrap: wrap;
        border-radius: 3%;
        padding: 2rem;
        text-align: center;
        width: 17%;
}

.stats-in p{
    font-size: 2rem;
}

.count{
    font-size: 8rem;
    font-weight: 500;
}

.news-updates-in{
    background-color:var(--color4);
    padding: 2rem;
}

.news-one,.news-two,.news-three{
    width: 30%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.img-container{
    width: 100%;
    position: relative;
}
    

.news{
    display: flex;
    justify-content: space-around;
}

.news-updates-in>h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.news-info{
    padding: 0 .5rem;
    background-color: var(--color2);
    font-weight: 600;
    margin-top: -10px;
}

.news-name{
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-weight: 600;
    font-size: 1rem;
    color: var(--color2);
}

.news-date{
    position: absolute;
    top: 2rem;
    left: 1rem;
    font-weight: 600;
    font-size: 1rem;
    color: var(--color2);
}

.news-one:hover,.news-two:hover,.news-three:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform: scale(1.05);
}