@media (max-width:2400px) {
.text{
    /* background-color: red; */
    width: 28%;
    left: 32.5%;
    /* top:80%; */
}
.text h1{
    font-size: 5.3rem;
}
.box-text{
    left: 32.5%;
}
.box-text p{
    font-size: 2rem;
}
}
@media screen and (max-width: 1440px) {
    .image-box-in{
        display: none;
    }
}