:root{
    --color1:#143601;
    --color2:#ffffff;
    --color3:#538D22;
    --color4:#73A942;
    --color5:#1A4301;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}
nav{
    padding: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nav-in{
    background-color: #143601;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-in h1{
    color: green;
    font-size: 1.2rem;
    font-weight: 600;
}
.nav-in-one{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-in-two{
    width: 50%;
}
.nav-in-two-in{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-in-three{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-in-three-in{
    border-radius: 10px;
    background-color: green;
    padding: 0.3rem;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
}
/* Nav Bar ends here */
/* Hero Starts here */
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider img {
    width: 100%;
    display: none;
    height: 87vh;
    /* object-fit: contain; */
    /* position: absolute; */
}

img.displaySlide {
    display: block;
}

.slides{
    position: relative;
    /* height: 100vh; */
}

.text{
    /* margin-bottom: 2rem;
    display: flex; */
    position: absolute;
    top:85%;
    left: 5%;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    /* background-color:  */
    backdrop-filter: blur(3px);
    padding: 1rem;
    border-radius:10px;
}
/* Hero Ends here */
/* Explore section starts here */
.Explore{
    width: 100%;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--color1);
    color: white;
}
.Explore p{
    font-size: 1.5rem;
    font-weight: 600;

}
/* Mission Section starts her */
.Mission{
    width: 100%;
    padding: 6rem;
    background-image: url(../Assets/About-us-p1.jpeg);
    background-size: cover;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    /* background-color: #AAD576; */
    /* color: white; */
}
.Mission-in{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Mission-in img{
  width: 100%;
}
/* About Plant starts here */
.About-Plants{
    /* background-color: #AAD576; */
    width: 100%;

}
.About-Plants-in{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}
.About-Phants-in-one{
    width: 50%;
}
.About-Plants-in-two img{
    mix-blend-mode: multiply;
}
.About-Phants-in-one button{
    /* border: 10px; */
    width: 8%;
    padding: 0.5rem;
    border-radius: 10px;
    /* background-color: beige; */
    background-color: lightgreen;
    padding: 0.5rem;
    color: black;
    margin-top: 1rem;
}
.About-Phants-in-one button a{
    text-decoration: none;
    color: white;
}
/* News and updates starts here */
.news-updates{
    width: 100%;
    padding: 2rem;
}
.news-updates-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-one,.news-two,.news-three{
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.img-container{
    width: 100%;
    position: relative;
    /* padding: em; */
}
.img-container p{
    padding: 1remp;
}

.news{
    display: flex;
    justify-content: space-around;
}

.news-updates-in>h1{
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.news-info{
    padding: 1rem;
    font-weight: 600;
    margin-top: -10px;
}

.news-name{
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-weight: 600;
    font-size: 1rem;
    color: var(--color2);
}

.news-date{
    position: absolute;
    top: 2rem;
    left: 1rem;
    font-weight: 600;
    font-size: 1rem;
    color: var(--color2);
}
/* Partnership Page */
.partnership{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: var(--color1)
; */
/* background-color: var(--color3); */
}
.partnership-in{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.partnership-heading h1{
    font-size: 1.8rem;
    font-weight: 600;
}
.partnership-main{
    width: 100%;
    display: flex;
}
.partnership-one{
    width: 50%;
    padding: 4rem;
}
.partnership-one p{
    font-size: 1.3rem;
}
.partnership-two{
    width: 50%;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partnership-two img{
    border-radius: 10%;
    mix-blend-mode: multiply;
}
.join-us{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.join-us-in{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.join-us-in-one{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-us-in-two{
    width: 50%;
    /* background-color: red; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
}
.join-us-two-image{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.join-us-in-two-in{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.join-us-in-two button{
    width: 20%;
    padding: 0.3rem;
    border-radius: 10px;
    background-color: beige;
    color: black;
    /* margin-top: 1rem; */
    text-decoration: none;
}
.join-us-in-two a{
    text-decoration: none;
}
.join-us-two-buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* Footer */
footer{
    width: 100%;
    background-color: #143601;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer-in{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.footer-in-one h1{
    font-size: 2rem;
    font-weight: 400;
}
.footer-maintain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid green;
}
.footer-maintain-in{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer-maintain-in h2{ 
    font-size: 1rem;
    font-weight: 400;
}
.footer-maintain-in span{
    color: blue;
}
.footer-in-one{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-in-two{
    width: 30%;
}
.footer-in-two-in{  
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;
    align-items: center; */
    /* background-color: red; */
    /* margin-bottom: 1.5rem; */
}
/* .footer-in-two-in h1{
    margin-bottom: 2.5rem;
} */
.footer-in-two-in a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(215, 200, 200)    ;
}
.footer-in-three{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.4rem;
}
.footer-in-three-in{
    width: 100%;
    padding: 1rem;
}
.footer-in-two-in h1{
    font-size: 1.5rem;
    font-weight: 600;
}
.footer-in-two-in p{
    font-size: 1rem;
    font-weight: 400;
}
.footer-in-three-in h1{
    font-size: 1.5rem;
    font-weight: 600;
}
.icons{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
